:root {
    /* --darkest-color: #040005;
    --darker-color: #241929;  */

    --body-1: #533537;
    --body-2: #443034;
    --body-3: #31212c;
    --body-4: #2d2738;
    --body-5: #2d2e3f;

    --background-color: #000000;
    --nav-color: rgba(0, 0, 0, 0.836);

    --logo-secondary-color: #595959;

    --gradient-one-color: #533537;
    --gradient-two-color: #2d2e3f;

    --mid-gradient-color: rgb(64,49,63);

    --darkest-color: #a3a3a3;
    --darker-color: #d6d6d6;

    /* --dark-color: #493652;
    --darkish-color: #775d83; */

    --dark-color: #303030;
    --darkish-color: #050505;

    --card-color: #303030;
    --carder-color: #050505;
    
    /* --light-color: #c0a9c9;
    --lighter-color: #f4dbfd; */

    --light-color: #dbdbdb;
    --lighter-color: #ffffff;

    --head-color: #dbdbdb;
    --header-color: #ffffff;

}

/* ==================================================== */
/*                      Navbar                          */
/* ==================================================== */

.navbar {
  overflow: hidden;
  background-color: var(--nav-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: block;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-content-left {
  display: flex;
  justify-content: right;
}
.navbar-content-right {
  display: flex;
  justify-content: left;
}

.navbar img {
  display: flex;
  justify-content: center;
}


#navbarTogglerDemo02.show {
  display: block !important;
}

@media (pointer: fine) {
  #navbarTogglerDemo02 {
    display: none !important;
  }
}


@media (hover: none) {
  .navbar-content-left {
    display: none !important;
    justify-content: left;
  }
  .navbar-content-right {
    display: none !important;
  }
}

.nav-link {
  color: var(--logo-secondary-color);
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;


  background: 
  linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
  linear-gradient(to right, var(--gradient-one-color), var(--gradient-two-color));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.nav-link:hover,
.nav-link:focus {
background-size: 0 0.1em, 100% 0.1em;
color: var(--mid-gradient-color);
}
.nav-link.active {
background-size: 0 0.1em, 100% 0.1em;
}

.navbar-toggler-icon {
  color: var(--logo-secondary-color);
}

/* ==================================================== */
/*                     End Navbar                       */
/* ==================================================== */

html {
  min-height: 100%;
  position: relative;
}

body {
  min-height: 100%;
  background-color: black;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  background-image: radial-gradient(farthest-corner at 0% 0%,var(--body-1), var(--body-2), var(--body-3), var(--body-4), var(--body-5), var(--body-5), var(--body-4), var(--body-3), var(--body-2), var(--body-1));
}

.container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}


.even-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
}

.odd-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.container {
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
}
.container-fluid {
  margin-bottom: 1%;
  padding-bottom: 1%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}
.info-container {
  margin-bottom: 4%;
  margin-top: 1%;
}

.btn-container button {
  margin: 10px;
}

.btn-outline-primary {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color:var(--lighter-color);
  background-color:transparent;
  background-image:none;
  border-color:var(--lighter-color);
  margin: auto;
  width: auto;
}

.btn-outline-primary:hover {
  color: var(--carder-color);
  background-color: var(--lighter-color);
  border-color: var(--lighter-color)
}

.btn-outline-primary.active,.btn-outline-primary:active {
  color: var(--carder-color) !important;
  background-color: var(--lighter-color) !important;
  border-color: var(--lighter-color) !important;
  box-shadow: none !important;
}

.btn-outline-primary.focus,.btn-outline-primary:focus {
  box-shadow: none;
  color: var(--carder-color) !important;
  background-color: var(--lighter-color) !important;
}

p, h1, h2, h3, h4, h5, h6, ul, li {
  color: var(--lighter-color);
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.odd-container hr {
  background: linear-gradient(to right, var(--gradient-one-color), var(--gradient-two-color));
  height: 1px;
}

.even-container hr {
  background: black;
  height: 1px;
}

.container span {
  color: var(--lighter-color);
  margin-left: 1%;
  margin-right: 1%;
}
.container img {
  width: 100%;
  margin: auto;
  
  border-radius: 5px;

  /* border-style: solid;
  border-width: 10px;
  border-color: linear-gradient(to bottom right, var(--card-color), var(--carder-color)); */
}

.columns-5 {
  width: 20%;
}

.sort-container {
  display: none;
}

.sort-container.active {
  display: block;
}



/* ============= */
/* Footer Styles */

footer {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
}
footer small, footer svg, footer span {
  color: white;
  padding: 5px;
}
footer div.row {
  margin: 0 1%;
}

  